
@{
    ViewBag.Title = "Clips";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2 style="color:white">Clips</h2>

<h6 style="color:white">India vs.Pakistan World Cup 2019</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/AFEZzf9_EHk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h6 style="color:white">Pakistan vs. India 2003</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/_PNIlJry8vA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h6 style="color:white">England vs. Pakistan T20</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/EPwOPr2xkYo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h6 style="color:white">England vs. Pakistan 2016 ODI</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/onAwAbuh-e0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h6 style="color:white">Australia vs. Pakistan T20 2021 </h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8XC0rzJ4XrI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h6 style="color:white">Australia vs. Pakistan ODI </h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/MaqoEmrBPq8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>