
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<img src="~/Images/Pakistan dj.jpg" />
<h2 style="color:white">History of Pakistan Cricket Team</h2>

<p style="color:white">The Pakistan cricket team made its Test cricket debut in 1952 and has since become one of the most successful teams in modern cricket. The team reached the semi-finals of the 1979,1983, 1987 and 2011 World Cups, and finals in 1992 and 1999, and won the 1992 ICC Cricket World Cup by defeating England in the final with the captaincy of Imran Khan They are one of the most successful T20 sides but faced a big failure in T20 2016 having won the T20 World Cup in 2009 and been runner-up in 2007. And after that they have defeated India by big margin of 180 in the Final of Champions Trophy 2017 at The Oval. Pakistan has also been ranked as the Number 1 Test Team twice (summers of 1988 & 2016) and Number 1 across all formats (Test, ODI and T20) at various points</p>

<h2 style="color:white">1986 Australasia Cup</h2>
<p style="color:white">1986 Australasia Cup, played in Sharjah, is remembered as a famous last-ball victory for Pakistan against arch-rivals India, with Javed Miandad emerging as a national hero</p>
<img src="~/Images/Imran Kah 1992.jpg" />
<h2 style="color:white">1992 World Cup Semi Final</h2>
<p style="color:white">
    After winning the toss, New Zealand chose to bat first and ended with a total of 262. Pakistan batted conservatively yet lost wickets at regular intervals. With the departure of Imran Khan and Saleem Malik shortly thereafter, Pakistan still required 115 runs at a rate of 7.67 per over with veteran Javed Miandad being the only known batsman remaining at the crease. A young Inzamam-ul-Haq, who had just turned 22 and was not a well-known player at the time, burst onto the international stage with a match-winning 60 off 37 balls. Once Inzamam got out, Pakistan required 36 from 30 balls, which wicketkeeper Moin Khan ended with a towering six over long off, followed by the winning boundary to midwicket. The match is seen as the emergence of Inzamam onto the international stage
</p>
<img src="~/Images/Imrna Kahn 1992.jpg" />
<h2 style="color:white">1992 World Cup Finals</h2>
<p style="color:white">The 1992 Cricket World Cup in Australia & New Zealand marked Pakistan's first World Cup victory. It is remembered for the comeback Pakistan made after losing key players such as Waqar Younis and Saeed Anwar, and being led by an injured captain Imran Khan. Pakistan won only 1 of their first 5 matches including a 1 no-result and were nearly eliminated in the first round of the tournament after being bowled out for 74 against England, until the match was declared as a "no result" due to rain. Captain Imran Khan famously told the team to play as "cornered tigers", after which Pakistan won five successive matches, including, most famously, the semi-final against hosts New Zealand and the final against England.[9] the most important part of the final was the two important wickets of WASIM AKRAM he got in 44th over which made Pakistan win the World Cup. That was the first time Pakistan won the Cricket World Cup.</p>

<img src="~/Images/Mohammad Crciket 1.jpg" />
<h2 style="color:white">2007 World Cup Shock</h2>
<p style="color:white">
    Pakistan participated in one of the biggest upsets in World Cup History when they were knocked out of the competition in a shock defeat to Ireland, who were playing in their first competition. Pakistan, needing to win to qualify for the next stage after losing to the West Indies in their opening match, wereput into bat by Ireland on a green pitch. They lost wickets regularly and only 4 batsmen crossed double figures. In the end they were bowled out by the resurgent Irish for 132. The Irish went on to win the match, helped by a knock of 72 from Niall O'Brien. This meant that Pakistan had been knocked out during the first round for the second consecutive World Cup.Tragedy struck the team when coach Bob Woolmer died one day later on 18 March 2007 in a hospital in Kingston, Jamaica. Jamaican police spokesman, Karl Angell, reported on 23 March 2007 that, "Mr Woolmer's death was due to asphyxiation as a result of manual strangulation", and that, "Mr Woolmer's death is now being treated by the Jamaica police as a case of murder.Subsequent to his team's defeat and the death of Bob Woolmer, Inzamam-ul-Haq announced his resignation as captain of the team and his retirement from one-day cricket, stating that he would continue to take part in Test cricket but not as captain.

    On 23 March 2007, Pakistan players and officials were questioned by Jamaican police and submitted DNA samples along with fingerprints, as part of the routine enquiries in the investigation into Woolmer's murder. Three days after leaving the West Indies for Pakistan, via London, the Pakistan team were ruled out as suspects. The deputy commissioner of Jamaican police. Mark Shields, the detective in charge of the investigation, announced, "It's fair to say they are now being treated as witnesses." "I have got no evidence to suggest it was anybody in the squad." A memorial service was held in Sacred Heart Church, Lahore, for Bob Woolmer on 1 April 2007. Among the attendees were Pakistan players and dignitaries, including Inzamam-ul-Haq, who was quoted as saying, "After Woolmer's family, the Pakistan team was the most aggrieved by his death."[17] After the World Cup ended, serious doubts were raised about the investigation, with increasing speculation that Woolmer died of natural causes. This has now been accepted as fact, and the case has been closed.[18]

    On 16 July 2007, Geoff Lawson, previously head coach of New South Wales, was appointed coach of the Pakistan for two years, becoming the third foreigner to take on the role.[19] In the 2007 ICC World Twenty20, Pakistan exceeded expectations to reach the final but ended as runners-up, after losing the final to India in a nail-biting finish. On 25 October 2008, Intikhab Alam was named as a national coach of the team by the PCB.
</p>
