
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div style="background-color:black">
    <div style="color:green">
        <h2>Home</h2>
    </div>


    <div style="background-color:black">
        <div style="color:white">
            <h1>Welcome to the fan site of Pakistan Cricket Team</h1>
        </div>
    </div>


    <div style="color:white">
        <h1>Pakistan Zindabad</h1>
    </div>
</div>
<div style="background-color:black">
    <div style="color:white">
        <p>
            Pakistan has played 441 Test matches, winning 145, losing 134 and drawing 162. Pakistan was given Test status on 28 July 1952 and made its Test debut against India at Feroz Shah Kotla Ground, Delhi, in October 1952, with India winning by an innings and 70 runs

            The team has played 936 ODIs, winning 490, losing 417, tying 9 with 20 ending in no-result.[20] Pakistan was the 1992 World Cup champion, and was the runner-up in the 1999 tournament. Pakistan, in conjunction with other countries in South Asia, has hosted the 1987 and 1996 World Cups, with the 1996 final being hosted at Gaddafi Stadium in Lahore.
        </p>
    </div>
</div>

<div style="background-color:black">
    <div style="color:white">
        <h1>
            The fan favourite premium fleece hoodie is back in stock!!!

        </h1>
    </div>
</div>
<div style="background-color:black">
    <img src="~/Images/Mohammad Crciket 1.jpg" width="200" height="200" />
    <div style="background-color:black">
        <div style="color:white">
            <p>From being a bench-warmer and serving drinks to fellow players, the 29-year-old went on to become a core part of Pakistan cricket in the last two years across formats</p>
        </div>
    </div>
</div>
